<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <div>
            <span><a href="/knextable/1">&lt;&lt; First</a></span>
            <span><a href="/knextable/<%= pagination.page - 1 %>">&lt;&lt; Prev</a></span>
            <span><a href="/knextable/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
            <span><a href="/knextable/<%= pagination.pageCount %>">Last &gt;&gt;</a></span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>mail</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
            <% for (var i in content) { %>
            <% var test = content[i].attributes; %>
                <tr>
                    <th><%= test.id %></th>
                    <td><%= test.name %></td>
                    <td><%= test.mail %></td>
                    <td><%= test.age %></td>
                    <td><a href="/knextable/show/?id=<%= test.id %>">Show</a></td>
                    <td><a href="/knextable/edit/?id=<%= test.id %>">Edit</a></td>
                    <td><a href="/knextable/delete/?id=<%= test.id %>">Delete</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/knextable/add">Add</a>
    </main>
</body>

</html>