<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css">
</head>

<body>

    <head>
        <h1><%= title %></h1>
    </head>
    <main>
        <p><%= content %></p>
        <table>
            <thead><th>labels</th><th>contents</th></thead>
            <tbody>
                <tr><th>ID</th><td><%= mydata.id %></td></tr>
                <tr><th>NAME</th><td><%= mydata.name %></td></tr>
                <tr><th>MAIL</th><td><%= mydata.mail %></td></tr>
                <tr><th>AGE</th><td><%= mydata.age %></td></tr>
            </tbody>
        </table>
    </main>

</body>

</html>